.albumWrapper {
    position: relative;
    max-width: 49%;
}

.albumCover {
    width: 100%
}

.albumTitle {
    position: absolute;
    bottom: 1em;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}


